{% extends 'base.html' %}

{% block content %}
<!-- AQUÍ EL CONTENIDO -->
{% if not context.error %}
 <h2>{{context.respuesta.lugar}}</h2>
 {% if context.matching %}
 	{% if context.patrimonio %}
 		<h2>Esta ciudad figura en el listado de la Unesco como patrimonio de la humanidad</h2>
	 	{% for c in context.matching %}
	 		<h2>{{c.name}}</h2>
	 		<img src="{{c.urlImagen}}">
	 	{% endfor %}
 	{% else %}
 		<h2>Esta ciudad no figura en el listado de la Unesco como patrimonio de la humanidad</h2>
 	{% endif %}
 {% endif %}
{% else %}
	<h2>{{context.error}}</h2>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-1 uk-margin-bottom" uk-margin-small-top>
    	<h3 class="uk-card-title">Búsqueda de itinerarios vacacionales (Powered by Azure & Minube)</h3>
    	{% include "search_box.html" %}
    </div>
{% endif %}

 <br><a href="{{url_for('homeController')}}">Volver al inicio</a>

{% endblock %}