<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Formulario | {{entrada.id}}</title>
</head>
<body>
	<form action="/update/{{database}}/{{entrada.id}}" method="POST">
		<input type="text" name="campo" value="{{entrada.campo}}" required>
		<input type="submit" value="Actualizar">
	</form>
</body>
</html>